
.amazon{
    background: url('../../img/providers/amazon.png');
  background-repeat: no-repeat;
  background-size: 100% 100% ;
  outline:'none';
  overflow: 'hidden'
}

.hbonow{
    background: url('../../img/providers/hbogo.png');
  background-repeat: no-repeat;
  background-size: 100% 100% ;
  outline:'none';
  overflow: 'hidden'
}

.directv{
    background: url('../../img/providers/directtv.png');
  background-repeat: no-repeat;
  background-size: 100% 100% ;
  outline:'none';
  overflow: 'hidden'
}

.hbomax{
    background: url('../../img/providers/hbo.png');
  background-repeat: no-repeat;
  background-size: 100% 100% ;
  outline:'none';
  overflow: 'hidden'
}

.netflix{
    background: url('../../img/providers/netflix.png');
  background-repeat: no-repeat;
  background-size: 100% 100% ;
  outline:'none';
  overflow: 'hidden'
}

.hulu{
    background: url('../../img/providers/hulu.png');
  background-repeat: no-repeat;
  background-size: 100% 100% ;
  outline:'none';
  overflow: 'hidden'
}

.kanopy{
    background: url('../../img/providers/kanopy.png');
  background-repeat: no-repeat;
  background-size: 100% 100% ;
  outline:'none';
  overflow: 'hidden'
}

.maxgo{
    background: url('../../img/providers/maxgo.png');
  background-repeat: no-repeat;
  background-size: 100% 100% ;
  outline:'none';
  overflow: 'hidden'
}
.show{
    background: url('../../img/providers/show.png');
  background-repeat: no-repeat;
  background-size: 100% 100% ;
  outline:'none';
  overflow: 'hidden'
}
.sling{
    background: url('../../img/providers/sling.png');
  background-repeat: no-repeat;
  background-size: 100% 100% ;
  outline:'none';
  overflow: 'hidden'
}
.starz{
    background: url('../../img/providers/starz.png');
  background-repeat: no-repeat;
  background-size: 100% 100% ;
  outline:'none';
  overflow: 'hidden'
}
.nbc{
    background: url('../../img/providers/nbc.png');
  background-repeat: no-repeat;
  background-size: 100% 100% ;
  outline:'none';
  overflow: 'hidden'
}
.apple{
    background: url('../../img/providers/appletv.png');
  background-repeat: no-repeat;
  background-size: 100% 100% ;
  outline:'none';
  overflow: 'hidden'
}
.cbs{
    background: url('../../img/providers/cbs.png');
  background-repeat: no-repeat;
  background-size: 100% 100% ;
  outline:'none';
  overflow: 'hidden'
}
.disneyplus{
    background: url('../../img/providers/disny.png');
  background-repeat: no-repeat;
  background-size: 100% 100% ;
  outline:'none';
  overflow: 'hidden'
}
.epix{
    background: url('../../img/providers/epix.png');
  background-repeat: no-repeat;
  background-size: 100% 100% ;
  outline:'none';
  overflow: 'hidden'
}
.fubo{
    background: url('../../img/providers/fubu.png');
  background-repeat: no-repeat;
  background-size: 100% 100% ;
  outline:'none';
  overflow: 'hidden'
}
.fxnetworks{
    background: url('../../img/providers/fx.png');
  background-repeat: no-repeat;
  background-size: 100% 100% ;
  outline:'none';
  overflow: 'hidden'
}
.spectrum{
    background: url('../../img/providers/spec.png');
  background-repeat: no-repeat;
  background-size: 100% 100% ;
  outline:'none';
  overflow: 'hidden'
}
.paramountplus{
    background: url('../../img/providers/paramountplus.png');
  background-repeat: no-repeat;
  background-size: 100% 100% ;
  outline:'none';
  overflow: 'hidden'
}
.showtime{
  background: url('../../img/providers/show.png');
  background-repeat: no-repeat;
  background-size: 100% 100% ;
  outline:'none';
  overflow: 'hidden'
}
.tbs{
  background: url('../../img/providers/tbs.png');
  background-repeat: no-repeat;
  background-size: 100% 100% ;
  outline:'none';
  overflow: 'hidden'
}
.trutv{
  background: url('../../img/providers/trutv.png');
  background-repeat: no-repeat;
  background-size: 100% 100% ;
  outline:'none';
  overflow: 'hidden'
}
.tntdrama{
  background: url('../../img/providers/tntdrama.png');
  background-repeat: no-repeat;
  background-size: 100% 100% ;
  outline:'none';
  overflow: 'hidden'
}

.hoopladigital{
  background: url('../../img/providers/hoopladigital.png');
  background-repeat: no-repeat;
  background-size: 100% 100% ;
  outline:'none';
  overflow: 'hidden'
}

.adultswim{
  background: url('../../img/providers/adultswim.png');
  background-repeat: no-repeat;
  background-size: 100% 100% ;
  outline:'none';
  overflow: 'hidden'
}

.shudder{
  background: url('../../img/providers/shudder.png');
  background-repeat: no-repeat;
  background-size: 100% 100% ;
  outline:'none';
  overflow: 'hidden'
}
.arrow-player{
  background: url('../../img/providers/arrow-player.png');
  background-repeat: no-repeat;
  background-size: 100% 100% ;
  outline:'none';
  overflow: 'hidden'
}
.fandor{
  background: url('../../img/providers/fandor.png');
  background-repeat: no-repeat;
  background-size: 100% 100% ;
  outline:'none';
  overflow: 'hidden'
}